/* You can add global styles to this file, and also import other style files */
body{
    --corPrincipal: #2980b9;
    --corBranca: #fafbfc;
    --corCinza: #2c3e50;
    --corFundo: #f4f6f9;
    background-color: var(--corFundo);
}

.input-group{
    margin: .25rem 0rem;
}

label{
    display: inline-block;
    width: 100%;
    font-family: 'Trebuchet MS';
    font-size: .9rem;
}

input{
    width: calc(100% - 1.5rem);
}

select{
    width: calc(100% - .9rem);
}

textarea{
    width: 100%;
    resize: none;
    height: calc(100% - 1.25rem);
    border-radius: .25rem;
    outline: none;
    font-family: calibri;
}

input, select{
    padding: .35rem;
    outline: none;
    border: 1px solid #2c3e50;
    border-radius: .25rem;
}

input:focus, select:focus{
    border: 1px solid #3498db;
    box-shadow: 0 0 0 1px rgba(52, 152, 219, 0.15);
}

button[type="submit"] {
    float: right;
    background-color: #3498db;
    color: white;
    border: none;
    padding: .5rem;
    font-size: .9rem;
    font-weight: bold;
    border-radius: .5rem;
    cursor: pointer;
    margin: 1rem;
    width: 8rem;
}

input:read-only{
    background-color: #f4f6f9;
    color: #2c3e50;

}

.component{
    width: 100%;
}

.comp-header{
    padding: 1rem;
}

.comp-title{
    font: bold 1.25rem 'Trebuchet MS';
}

.tools{
    float: right;
    margin: 0rem .5rem;
}

.crud{
    width: 10rem;
    height: 2.5rem;
    margin: .5rem .25rem;
    cursor: pointer;

    border: none;
    border-radius: .5rem;
    border-top: 5px solid #2980b9;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    transition: all 0.3s ease;
    opacity: .75;

    font: bold .9rem 'Trebuchet MS';
}

.crud:hover{
    opacity: 1;
}

.container{
    display: inline-block;
    width: 100%;
}

.dataGrid{
    display: inline-block;
    width: 100%;
    border-collapse: collapse;
    padding: 1rem;
    font: normal .9rem 'Calibri';
    user-select: none;

    & th, td{
        text-align: left;
        padding: .25rem;
        border: none;
        border-bottom: 1px solid gray;
        
    }

    & tbody tr:nth-child(odd){
        background-color: lightgray;
    }
}

.selected{
    background-color: #2980b9 !important;
    color: white !important;
}

.input-group{
    padding: .5rem;
    height: 100%;
}

.subTools{
    position: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form, .subForm{
    display: flex;
    flex-wrap: wrap;
}

.subContainer{
    position: relative;
    height: calc(100% - 1rem);
    border-radius: .5rem;
    background-color: rgba(235, 235, 235, 1);
}

.subTools{
    border-top: 1px solid whitesmoke;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.subCrud{
    width: 6rem;
    height: 1.75rem;
    margin: .5rem;
    cursor: pointer;

    border: none;
    border-radius: .35rem;
    border-top: 3.5px solid #2980b9;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    font: bold .8rem 'Trebuchet MS';
}

input[type=checkbox]{
    height: 1.5rem;
    width: 100% ;
}

.search{
    width: 25rem;
    margin: 0rem .5rem;
}

.search-box{
    display: flex;
    width: 30rem;
}

.btn-search{
    width: 10rem;
    height: 2.5rem;
    margin: .5rem .25rem;
    cursor: pointer;

    border: none;
    border-radius: .5rem;
    border-top: 5px solid #2980b9;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    transition: all 0.3s ease;
    opacity: .75;

    font: bold .9rem 'Trebuchet MS';
}

input:disabled, select:disabled, textarea:disabled{
    background-color: whitesmoke;
    color: var(--corCinza);
    opacity: 1;
}